# Debug
debug = 2

# Listen LAN
listen = tcp:192.168.22.122:5060

# Listen WAN
listen = tcp:192.168.33.51:5060
listen = udp:192.168.33.51:5060

# TCP
disable_tcp = no
tcp_async = yes
tcp_children = 2

# Alias
alias="kamailio.hpbx.conatel.cloud:5060"
alias="flexisip.hpbx.conatel.cloud:5060"

####### Module Load   ########
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "textops.so"
loadmodule "xlog.so"

loadmodule "sl.so"
loadmodule "maxfwd.so"
loadmodule "siputils.so"

loadmodule "rtpproxy.so"

loadmodule "app_python3.so"

####### Module Configuration #######
modparam("rtpproxy", "rtpproxy_sock", "udp:127.0.0.1:7722")

modparam("app_python3", "load", "/etc/kamailio/kemipy/python_call.py")

####### Routing Logic ########

request_route {
	# Check message
	route(CHECK_MESSAGE);

	# CANCEL processing
	route(CANCEL_PROCESSING);

	# Handle retransmissions
	route(HANDLE_RETRANSMISSIONS);

	# Push Notifications
	route(PUSH_NOTIFICATIONS);

	# Handle requests within SIP Dialogs
	route(WITHIN_DIALOG);

	# Record routing
	route(RECORD_ROUTING);

	# RTP handling
	route(RTP_PROXY);

	# Relay message
	route(RELAY);
}

import_file "configuration/check_message.cfg"
import_file "configuration/within_dialog.cfg"
import_file "configuration/cancel_processing.cfg"
import_file "configuration/handle_retransmission.cfg"
import_file "configuration/record_routing.cfg"
import_file "configuration/rtp_proxy.cfg"
import_file "configuration/push_notifications.cfg"
import_file "configuration/relay.cfg"